.vscode/
node_modules/
tests/
src/
ios/
android/
imgs/
logs/
realease_ios/
realease_android/
tsconfig.json
log4js
.babelrc
.eslintignore 
.eslintrc.json
.gitignore
.npmignore
.npmrc
.yarnrc
*.sh
*.log
